@charset "UTF-8";
/*注释:在css中可以使用,所有编译的过程当中生成*/
/*变量*/
a:hover {
  color: #e92333;
}
/*变量用于字符拼接使用方法*/
.box {
  color: #e92333;
}
/*嵌套*/
.wjs_app {
  display: block;
  /*需要连接的情况： &*/
}
.wjs_app img {
  display: none;
}
.wjs_app:hover img {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  top: 40px;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 10;
}
/*混入*/
/*组合样式的例子*/
/*类混入*/
/*函数混入*/
/*1.定义了参数（没有默认值），调用的时候必须传参*/
/*2.怎么定义默认值 和定义变量值一样
3.定义了参数（有默认值），可传可不传
*/
.w50-f_left {
  width: 50%;
  float: right;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px;
  -ms-border-radius: 50px;
}
/**/
/*import模块组合功能：导入*/
/*内置函数*/
/*运算*/
div {
  width: 700%;
}
div li {
  width: 14.28571429%;
  color: #ff8000;
  background: #ffffff;
}
